@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;1,9..144,100&display=swap');

body::-webkit-scrollbar {
    display: none;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}


.header-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.header-title {
    text-align: center;
    flex: 1
}

h1 {
    color: #fff !important;
    font-size: 60px !important;
    font-family: 'Fraunces', serif;
    font-weight: bold;
}

.header-images {
    max-width: 850px;
    flex: 1;
    background-color: #157347;
    height: 105%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 200%;
}

.desc-curso {
    margin: 30px 0px 20px 100px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 800px;
}

.edit-imgs {
    max-width: 80%;
}

#id-header-images {
    margin-top: 50px;
}

#id-header-images img {
    border-radius: 15px;
    border: 10px solid #fff;
    margin-top: 20px;
}

#id-header-images #img-1 {
    margin-left: 70px;
    justify-content: center;
    display: flex;
}

#id-header-images #img-2 {
    margin-left: -70px;
    justify-content: center;
    display: flex;
}

#id-header-images #img-3 {
    margin-left: 70px;

    justify-content: center;
    display: flex;
}

#id-header-images #img-4 {
    margin-left: -70px;
    justify-content: center;
    display: flex;
}

.btn-maisinformacoes {
    color: #fff;
    font-size: 100px;
    margin: -140px 0px 0px 30px;
}

.btn-maisinformacoes {
    color: #fff;
    font-size: 100px;
    margin: -140px 0px 0px 30px;
}

.mais-informacoes {
    margin: 0px;
    padding: 0px;
    color: #fff;
    background-color: #253d4a;
    text-align: center;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    height: 100vh;
    padding-top: 50px;
    font-weight: bold;
}

.accordion.accordion-3 {
    border-radius: 3px;
}

.accordion.accordion-3 p {
    font-size: 1rem;
}

.accordion.accordion-3 .fa.fa-angle-down {
    margin-top: -10px;
}

.accordion .animated-icon1 span {
    background: #F44336;
}

.content {
    text-align: center !important;
    background-color: #304f61;
    color: #fff;
}

.maisinfos {
    text-align: center;
    height: 100vh;
    background-color: #253d4a;
}

.maisinfos button {
    background-color: #253d4a;
    font-size: 20px;
    color: #fff;
    text-align: center;

}

.maisinfos button:hover {
    background-color: #3a5f74;
    color: #fff;
}